#about {
  height: 100vh;
  scroll-snap-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
}

#about-left {
  flex: 1;
  height: 100%;
}

#about-right {
  flex: 1;
}

@media (max-width: 768px) {
  #about {
    scroll-snap-align: none;
    padding: 0 5%;
  }
}